json_files/FORM PERSONAL NUEVO.json
{
  "name": "FORM PERSONAL NUEVO",
  "nodes": [
    {
      "parameters": {
        "formTitle": "PERSONAL NUEVO",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Nombre completo del trabajador",
              "requiredField": true
            },
            {
              "fieldLabel": "Número de Celular",
              "requiredField": true
            },
            {
              "fieldLabel": "Puesto del Trabajador",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Operador"
                  },
                  {
                    "option": "Transporte"
                  }
                ]
              },
              "requiredField": true
            }
          ]
        },
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        0,
        0
      ],
      "id": "74459dc9-af2e-494e-b502-ad36877d830b",
      "name": "On form submission",
      "webhookId": "0a933b84-a1e3-4166-8f7a-52df42e4205f"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "3c4b7b39-917d-4953-aaf8-941ed0ce98b0",
              "leftValue": "={{ $json['Puesto del Trabajador'] }}",
              "rightValue": "Operador",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        0
      ],
      "id": "055c513a-a284-4072-95c1-3ae74c914402",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1763f09d-12dc-4fbe-a56b-58c979cd4482",
              "name": "Nombre completo del trabajador",
              "value": "={{ $json['Nombre completo del trabajador'] }}",
              "type": "string"
            },
            {
              "id": "3b59e41f-d5ba-4b3a-a490-260396cfa22e",
              "name": "Número de Celular",
              "value": "={{ $json['Número de Celular'] }}",
              "type": "string"
            },
            {
              "id": "2d67dd82-4aa7-4710-b91e-39bf1e94ce1d",
              "name": "Puesto del Trabajador",
              "value": "={{ $json['Puesto del Trabajador'] }}",
              "type": "string"
            },
            {
              "id": "44be8a73-36d8-4ead-bdf4-0a2385d9dcef",
              "name": "submittedAt",
              "value": "={{ $json.submittedAt }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        160,
        0
      ],
      "id": "213aaa78-4de0-4820-89a5-f971aa673345",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1NpvQM1kqNqDOt8BfYQFXqs4fCalZZrErdC5QuipfA48",
          "mode": "list",
          "cachedResultName": "CONDUCTORES- CHECKLIST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NpvQM1kqNqDOt8BfYQFXqs4fCalZZrErdC5QuipfA48/edit?usp=drivesdk"
        },
        "title": "={{ $('Edit Fields').item.json['Número de Celular'] }}",
        "options": {
          "hidden": false,
          "rightToLeft": false,
          "sheetId": "={{ $('Edit Fields').item.json['Número de Celular'] }}",
          "index": 0,
          "tabColor": "0aa55c"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        544,
        128
      ],
      "id": "d9c4b684-7db0-4213-ae4d-82d64782d47e",
      "name": "NUEVO CONDUCTOR",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q9Wz3Lyev55V97aq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "create",
        "documentId": {
          "__rl": true,
          "value": "1-jBoc4qOy7_6i-aBNhjwrLEoQzP_dplqoSStPWUCTRA",
          "mode": "list",
          "cachedResultName": "MAQUINARIA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-jBoc4qOy7_6i-aBNhjwrLEoQzP_dplqoSStPWUCTRA/edit?usp=drivesdk"
        },
        "title": "={{ $('Edit Fields').item.json['Número de Celular'] }}",
        "options": {
          "hidden": false,
          "rightToLeft": false,
          "sheetId": "={{ $('Edit Fields').item.json['Número de Celular'] }}",
          "index": 0,
          "tabColor": "0aa55c"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        560,
        -128
      ],
      "id": "d7d73eab-f45c-4c96-8f30-74f617361982",
      "name": "NUEVO OPERADOR",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q9Wz3Lyev55V97aq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a91cf8c0-5552-4c05-98fc-69674f5e4c94",
              "name": "sheetId",
              "value": "={{ $json.sheetId }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        -128
      ],
      "id": "e92c5c88-7826-484a-9522-bf37c16b052c",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1-jBoc4qOy7_6i-aBNhjwrLEoQzP_dplqoSStPWUCTRA",
          "mode": "list",
          "cachedResultName": "MAQUINARIA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-jBoc4qOy7_6i-aBNhjwrLEoQzP_dplqoSStPWUCTRA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Edit Fields1').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "N° Parte",
              "displayName": "N° Parte",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha enviada",
              "displayName": "Fecha enviada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Fecha indicada",
              "displayName": "Fecha indicada",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Turno",
              "displayName": "Turno",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Equipo",
              "displayName": "Equipo",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Operador",
              "displayName": "Operador",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Supervisor",
              "displayName": "Supervisor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Horometro Inicio",
              "displayName": "Horometro Inicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Horometro final",
              "displayName": "Horometro final",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Total Horas",
              "displayName": "Total Horas",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Area",
              "displayName": "Area",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Labor",
              "displayName": "Labor",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Trabajo Realizado",
              "displayName": "Trabajo Realizado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Observaciones",
              "displayName": "Observaciones",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        -128
      ],
      "id": "aee1161f-6753-4b71-a953-d750d30acf34",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q9Wz3Lyev55V97aq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79976bb9-a972-41f3-965b-8f2d778b213b",
              "name": "N° Parte",
              "value": "={{ 'N° Parte' }}",
              "type": "string"
            },
            {
              "id": "3e2d8660-f33f-4eae-91e1-a23834682923",
              "name": "Fecha enviada",
              "value": "={{ 'Fecha enviada' }}",
              "type": "string"
            },
            {
              "id": "79d0beb8-9c5c-4ee4-aed1-0462fc5019a0",
              "name": "Fecha indicada",
              "value": "={{ 'Fecha indicada' }}",
              "type": "string"
            },
            {
              "id": "5020c762-7ae4-4487-a655-f5a9fb93b302",
              "name": "Turno",
              "value": "={{ 'Turno' }}",
              "type": "string"
            },
            {
              "id": "9a1e6f95-e9f0-447b-bc80-d4d6734c4c89",
              "name": "Equipo",
              "value": "={{ 'Equipo' }}",
              "type": "string"
            },
            {
              "id": "85066ebc-14c7-4598-9478-1b9c4de81e8a",
              "name": "Operador",
              "value": "={{ 'Operador' }}",
              "type": "string"
            },
            {
              "id": "226e6b45-6e50-4512-919c-ed9502327488",
              "name": "Supervisor",
              "value": "={{ 'Supervisor' }}",
              "type": "string"
            },
            {
              "id": "57946609-d191-4375-aba3-cd53c0d73f2f",
              "name": "Horometro Inicio",
              "value": "={{ 'Horometro Inicio' }}",
              "type": "string"
            },
            {
              "id": "6a673ed7-eac4-4a55-9df7-b61f6fc21212",
              "name": "Horometro final",
              "value": "={{ 'Horometro final' }}",
              "type": "string"
            },
            {
              "id": "489727ac-9b3b-4143-b99e-d0c0e3e00340",
              "name": "Total Horas",
              "value": "={{ 'Total Horas' }}",
              "type": "string"
            },
            {
              "id": "1e0a82b7-b3f2-4777-b830-0a1e41a25021",
              "name": "Area",
              "value": "={{ 'Area' }}",
              "type": "string"
            },
            {
              "id": "0f3f64e9-1a72-4f99-8661-23ee60abfafa",
              "name": "Labor",
              "value": "={{ 'Labor' }}",
              "type": "string"
            },
            {
              "id": "e38a91d9-dacf-4e8b-8814-bd428e8fcae2",
              "name": "Trabajo Realizado",
              "value": "={{ 'Trabajo Realizado' }}",
              "type": "string"
            },
            {
              "id": "75b69ff9-d62d-4b73-8760-9eb3be2597c7",
              "name": "Observaciones",
              "value": "={{ 'Observaciones' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        -128
      ],
      "id": "fcfdefde-b780-468d-8df7-3d8625a0eaf9",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1-jBoc4qOy7_6i-aBNhjwrLEoQzP_dplqoSStPWUCTRA",
          "mode": "list",
          "cachedResultName": "MAQUINARIA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1-jBoc4qOy7_6i-aBNhjwrLEoQzP_dplqoSStPWUCTRA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Edit Fields1').item.json.sheetId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        -128
      ],
      "id": "a98f715b-0829-4f3b-aed1-7dfba5ecf8b8",
      "name": "Delete rows or columns from sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q9Wz3Lyev55V97aq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a91cf8c0-5552-4c05-98fc-69674f5e4c94",
              "name": "sheetId",
              "value": "={{ $json.sheetId }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        736,
        128
      ],
      "id": "f09f1b54-c106-45f4-8c32-c6616171d7e3",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "79976bb9-a972-41f3-965b-8f2d778b213b",
              "name": "Fecha enviada",
              "value": "={{ 'Fecha enviada' }}",
              "type": "string"
            },
            {
              "id": "3e2d8660-f33f-4eae-91e1-a23834682923",
              "name": "Fecha indicada",
              "value": "={{ 'Fecha indicada' }}",
              "type": "string"
            },
            {
              "id": "79d0beb8-9c5c-4ee4-aed1-0462fc5019a0",
              "name": "Hora desde",
              "value": "={{ 'Hora desde' }}",
              "type": "string"
            },
            {
              "id": "5020c762-7ae4-4487-a655-f5a9fb93b302",
              "name": "Hora hasta",
              "value": "={{ 'Hora hasta' }}",
              "type": "string"
            },
            {
              "id": "9a1e6f95-e9f0-447b-bc80-d4d6734c4c89",
              "name": "Nombre del equipo",
              "value": "={{ 'Nombre del equipo' }}",
              "type": "string"
            },
            {
              "id": "85066ebc-14c7-4598-9478-1b9c4de81e8a",
              "name": "Conductor",
              "value": "={{ 'Conductor' }}",
              "type": "string"
            },
            {
              "id": "226e6b45-6e50-4512-919c-ed9502327488",
              "name": "Turno",
              "value": "={{ 'Turno' }}",
              "type": "string"
            },
            {
              "id": "57946609-d191-4375-aba3-cd53c0d73f2f",
              "name": "Placa/Serie",
              "value": "={{ 'Placa/Serie' }}",
              "type": "string"
            },
            {
              "id": "6a673ed7-eac4-4a55-9df7-b61f6fc21212",
              "name": "Modelo",
              "value": "={{ 'Modelo' }}",
              "type": "string"
            },
            {
              "id": "489727ac-9b3b-4143-b99e-d0c0e3e00340",
              "name": "Codigo",
              "value": "={{ 'Codigo' }}",
              "type": "string"
            },
            {
              "id": "1e0a82b7-b3f2-4777-b830-0a1e41a25021",
              "name": "Horas/ km inicial",
              "value": "={{ 'Horas/ km inicial' }}",
              "type": "string"
            },
            {
              "id": "0f3f64e9-1a72-4f99-8661-23ee60abfafa",
              "name": "Horas/ km final",
              "value": "={{ 'Horas/ km final' }}",
              "type": "string"
            },
            {
              "id": "e38a91d9-dacf-4e8b-8814-bd428e8fcae2",
              "name": "KM TOTALES",
              "value": "={{ 'KM TOTALES' }}",
              "type": "string"
            },
            {
              "id": "75b69ff9-d62d-4b73-8760-9eb3be2597c7",
              "name": "Observaciones",
              "value": "={{ 'Observaciones' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        928,
        128
      ],
      "id": "986a0147-41df-4f99-9cc4-df17d508dcb0",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1NpvQM1kqNqDOt8BfYQFXqs4fCalZZrErdC5QuipfA48",
          "mode": "list",
          "cachedResultName": "CONDUCTORES- CHECKLIST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NpvQM1kqNqDOt8BfYQFXqs4fCalZZrErdC5QuipfA48/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Edit Fields3').item.json.sheetId }}",
          "mode": "id"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "cellFormat": "USER_ENTERED",
          "useAppend": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1136,
        128
      ],
      "id": "2b4663aa-cb43-44a2-8c4e-9c619118f129",
      "name": "Append or update row in sheet2",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q9Wz3Lyev55V97aq",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "1NpvQM1kqNqDOt8BfYQFXqs4fCalZZrErdC5QuipfA48",
          "mode": "list",
          "cachedResultName": "CONDUCTORES- CHECKLIST",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1NpvQM1kqNqDOt8BfYQFXqs4fCalZZrErdC5QuipfA48/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Edit Fields3').item.json.sheetId }}",
          "mode": "id"
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1328,
        128
      ],
      "id": "5d8314c1-bcfb-473f-bccb-1b571381e128",
      "name": "Delete rows or columns from sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "q9Wz3Lyev55V97aq",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "NUEVO OPERADOR",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "NUEVO CONDUCTOR",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NUEVO OPERADOR": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Append or update row in sheet2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "NUEVO CONDUCTOR": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append or update row in sheet2": {
      "main": [
        [
          {
            "node": "Delete rows or columns from sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "040a9a7c-ac18-4f20-88b7-2798e03e440b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "78433393f994bb46658b62aa0311e8ce3097d42d4febcbe84a2408caf59f9e19"
  },
  "id": "Vd2hP2RTOLBqBIhC",
  "tags": []
}